body{
    overflow-x: hidden;
}

.navbar {
    background-color: #1D1D1D;
    border-bottom: 0.5vh solid #ffa928;
    transition: all ease 1s;
}


/* home page */
#home {
    background-color: #1D1D1D;
    color: #a3a3a3;
    position: relative;
    height: 100vh;
}

#myname {
    color: #ffa928;
}

#showme {
    margin-top: 2vh;
    background: transparent;
    border: solid 0.5vh #a3a3a3;
    color: #a3a3a3;
    transform: scale(1.2);
}

#showme:hover {
    transition-duration: 1s;
    background-color: #ffa928;
    border-color: #ffa928;
}

#amore {
    margin-left: 0.5vw;
}

#showme:hover #amore {
    transition-duration: 1s;
    transform: rotate(90deg);
}


/* about page */
#about{
    background-color: #1D1D1D;
    position: relative;
    height: auto;
    color: #a3a3a3;
    padding-bottom: 20vh;
}

#section {
    font-size: 3vw;
}

#line {
    padding-top: 15vh;
    width: 5vw;
    border-bottom: 0.7vh solid #a3a3a3;
}

#aboutinfo {
    margin-top: 15vh;
}

.graph {
    height: 4.2vh;
    width: 100%;
    background-color: #a3a3a3;
    margin: auto;
    margin-top: 2vh;
    color: black;
}

.graph-label {
    min-width: 7vw;
    background-color: #ffa928;
}


/* portfolio page */
#portfolio{
    background-color: #1D1D1D;
    position: relative;
    height: auto;
    padding-bottom: 20vh;
    color: #a3a3a3;
}

#projects {
    margin-top: 20vh;
}

.project {
    position: relative;
    border: 5px solid #ffa928;
}

.layer:hover {
    transition-duration: 1s;
    background-color: #a3a3a359;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stext {
    visibility: hidden;
}

.layer:hover .stext {
    transition-duration: 1s;
    visibility: visible;
    margin: auto;
}

.padder {
    width: 20vw;
    padding-bottom: 40vh;
}



/* contact page */
#contact {
    background-color: #1D1D1D;
    position: relative;
    height: auto;
    padding-bottom: 25vh;
    color: #a3a3a3;
}

#contactform{
    margin-top: 7vh;
}

.inputs {
    border: none;
    background-color: #2B2B2B;
    margin: auto;
    margin-bottom: 0.8vh;
    width: 40vw;
}

.inputs:focus {
    outline: none;
    border-bottom: 0.5vh solid #ffa928;
}

.not-text {
    height: 6vh;
}

.btnrow {
    margin: auto;
    width: 40vw;
}

#sbtn {
    background-color: #ffa928;
    border: none;
    outline: none;
    height: auto;
    color: #2B2B2B;
}

.sbtn {
    width: 20vw;
}

#totop {
    position: relative;
    z-index: 10;
}

#scrollup {
    color: #a3a3a3;
    font-size: 4vw;
}

#scrollup:hover {
    transition-duration: 1s;
    transform: scale(1.5);
    color: #ffa928;
}

#footer {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 1vh;
    background-color: #1D1D1D;
}

.link {
    color: #a3a3a3;
    font-size: xx-large;
    padding-left: 2vw;
}