
/* navbar */
.navbar {
    background-color: #1D1D1D;
    border-bottom: 0.5vh solid #ffa928;
    transition: all ease 1s;
}

.nav-link {
    color: #424242;
}


/* home page */
#home {
    background-color: #1D1D1D;
    color: #FFFF;
    position: relative;
    height: 100vh;
}

#myname {
    color: #ffa928;
}

#showme {
    transition: all 1s;
    background-color: transparent;
    border: solid 0.5vh #424242;
    animation-name: mouseoff;
    margin-top: 2vh;
    color: #424242;
    transform: scale(1.2);
}

#showme:hover {
    background-color: #ffa928;
    border-color: #ffa928;
    transition: all 1s;
}

#amore {
    transition: all 1s;
    margin-left: 0.5vw;
}

#showme:hover #amore {
    transition: all 1s;
    transform: rotate(90deg);
}



/* lines & headers */

#absection {
    transition: all 1s;
    font-size: 3vw;
    color: #1D1D1D;
}

#abline {
    transition: all 1s;
    padding-top: 15vh;
    width: 20vw;
    border-bottom: 0.5vw solid transparent;
}

#posection {
    transition: all 1s;
    font-size: 3vw;
    color: #1D1D1D;
}

#poline {
    transition: all 1s;
    padding-top: 15vh;
    width: 20vw;
    border-bottom: 0.5vw solid transparent;
}

#cosection {
    transition: all 1s;
    font-size: 3vw;
    color: #1D1D1D;
}

#coline {
    transition: all 1s;
    padding-top: 15vh;
    width: 20vw;
    border-bottom: 0.5vw solid transparent;
}

/* end of lines & headers */




/* about page */
#about{
    background-color: #1D1D1D;
    position: relative;
    height: auto;
    color: #424242;
    padding-bottom: 20vh;
}

#aboutinfo {
    transition: all 1s;
    margin-top: 15vh;
    opacity: 0;
}

#blurb {
    color: #FFFF;
}

.graph {
    height: 4.2vh;
    width: 100%;
    background-color: #424242;
    margin: auto;
    margin-top: 2vh;
    color: #424242;
}

.graph-label {
    min-width: 7vw;
    background-color: #ffa928;
}

.perc {
    color: #FFFF;
}




/* portfolio page */
#portfolio{
    background-color: #1D1D1D;
    position: relative;
    height: auto;
    padding-bottom: 20vh;
    color: #424242;
}

#projects {
    transition: all 1s;
    margin-top: 20vh;
    opacity: 0;
}

.project {
    position: absolute;
    transition: all 1s;
    position: relative;
    border: 5px solid #ffa928;
    padding-bottom: 40vh;
}

.project:hover {
    background-color: #a3a3a359;
}

.stext {
    visibility: hidden;
}

.project:hover .stext {
    visibility: visible;
    margin: auto;
}




/* contact page */
#contact {
    background-color: #1D1D1D;
    position: relative;
    height: auto;
    padding-bottom: 25vh;
    color: #424242;
}

#contactform{
    transition: all 1s;
    margin-top: 7vh;
    opacity: 0;
}

.inputs {
    border: none;
    background-color: #2B2B2B;
    margin: auto;
    margin-bottom: 0.8vh;
    width: 40vw;
    color: #848484;
}

.inputs:focus {
    outline: none;
    border-bottom: 0.5vh solid #ffa928;
}

.not-text {
    height: 6vh;
}

.btnrow {
    margin: auto;
    width: 40vw;
}

#sbtn {
    transition: all 1s;
    background-color: transparent;
    border: 0.5vh solid #ffa928;
    outline: none;
    height: auto;
    color: #ffa928;
}

.sbtn {
    width: 20vw;
}

#sbtn:hover{
    background-color: #ffa928;
    color: #424242;
}

#totop {
    position: relative;
    z-index: 10;
}

#scrollup {
    color: #424242;
    font-size: 4vw;
}

#scrollup:hover {
    transition: all 1s;
    transform: scale(1.5);
    color: #ffa928;
}

#footer {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 1vh;
    background-color: #1D1D1D;
}

.link {
    color: #424242;
    font-size: xx-large;
    padding-left: 2vw;
}




/* slide in animations */
.come-in-right {
    transform: translateX(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in-right:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

.come-in-left {
    transform: translateX(-150px);
    animation: come-in 0.8s ease forwards;
}

.come-in-left:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

.come-in-up {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in-up:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to { transform: translate(0); }
}