<%- include('../partials/header.ejs') %>

<!-- make contact form send email to me
    add database?
    add projects
    make blurb
    fill in graphs
    home page background???? -->

<!-- home page -->
    <div id="home" class="d-flex flex-column container-fluid justify-content-center align-items-center text-center">
        <h1>Hello, I'm <span id="myname">Reed Tyhuis</span>.<br>
        I'm a software developer. </h1>

        <button id="showme" type="button" class="py-1 px-4">View my work<i id="amore" class="fas fa-arrow-right"></i></button>
    </div>


    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-expand navbar-dark py-1 sticky-top">
        <div id="navboi" class="container">
            <div class="navbar-nav">
                <a id="ho" class="nav-link mx-3 active" href="#home">HOME</a>
                <a id="ab" class="nav-link mx-3" href="#about">ABOUT</a>
                <a id="po" class="nav-link mx-3" href="#portfolio">PORTFOLIO</a>
                <a id="co" class="nav-link mx-3" href="#contact">CONTACT</a>
            </div>
        </div>
    </nav>



<!-- about page -->
    <div id="about" class="container-fluid">
        <div id="abline" class="d-flex container justify-content-center">
            <h1 id="absection"><b>ABOUT</b></h1>
        </div>

        <div id="aboutinfo" class="container">
            <div class="row mt-5">
                <div class="col-md-12 col-lg-6">
                    <div class="d-flex flex-column text-center pb-3">
                        <p id="blurb" class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis distinctio pariatur 
                            laudantium in. Nam nostrum eum, assumenda laborum rem atque sapiente magnam voluptas cum harum expedita 
                            officia porro at numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi ipsum aliquid 
                            qui obcaecati nulla itaque nobis, esse explicabo, vero quam ea veniam architecto quo error consequuntur 
                            dolorem voluptate eligendi.</p>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <div id="graphs" class="d-flex flex-column align-content-center text-center">
                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>HTML</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">90%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>CSS</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">100%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>Javascript</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">85%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>Java</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">55%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>Python</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">75%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>C/C++</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">60%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>UI Design</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">90%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>Node.JS</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">80%</div>
                        </div>

                        <div class="d-flex flex-row graph">
                            <div class="graph-label"><p>Express</p></div>
                            <div class="graph-bar"></div>
                            <div class="ms-auto perc">50%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- portfolio page -->
    <div id="portfolio" class="container-fluid">
        <div id="poline" class="d-flex container justify-content-center">
            <h1 id="posection"><b>PROJECTS</b></h1>
        </div>

        <div id="projects" class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6 col-lg-3 d-flex project">
                    <p class="stext">Coming Soon.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 d-flex project">
                    <p class="stext">Coming Soon.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 d-flex project">
                    <p class="stext">Coming Soon.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 d-flex project">
                    <p class="stext">Coming Soon.</p>
                </div>
            </div>
        </div>

    </div>


 <!-- contact page -->
    <div id="contact" class="container-fluid text-center">
        <div id="coline" class="d-flex container justify-content-center c">
            <h1 id="cosection"><b>CONTACT</b></h1>
        </div>

        <div id="contactform">
            <form action="">
                <div id="contactinput" class="container-md d-flex flex-column justify-content-center">
                    <p class="mb-1">Have a question?</p>
                    <input type="email" class="inputs not-text" placeholder="Name">
                    <input type="email" class="inputs not-text" placeholder="Email address">
                    <textarea rows="6" class="inputs" placeholder="Type message..."></textarea>
                </div>
                <div id="sendbtn" class="container-md d-flex flex-row btnrow">
                    <div class="sbtn"></div>
                    <button id="sbtn" type="button" class="sbtn py-3">SEND  <i class="far fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div id="footer" class="d-flex flex-column container-fluid">
        <div class="d-flex flex-row justify-content-center">
            <a href=""><i class="fab fa-linkedin link"></i></a>
            <a href=""><i class="fab fa-github-square link"></i></a>
            <a href=""><i class="fab fa-instagram-square link"></i></a>
        </div>
        <i id="scrollup" class="fas fa-long-arrow-alt-up ms-auto"></i>
    </div>

<%- include('../partials/footer.ejs') %>